{% macro edit_history() %}
{#  id="modalhistory{{ row.id }}"  #}
<div id="modalhistory" class="modal fade" role="dialog">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <h4 class="modal-title">Historia edycji</h4>
               <p class="row_id"></p>
           </div>
           <div class="modal-body my_history">

           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
       </div>
   </div>
</div>
{% endmacro  %}